@page
@model project_1.Pages.AboutMeModel
@{
}

<div>
    <h1>About Me</h1>

    <h2>Name: Denys Gladan</h2>
    <h3>Login: MrLazYT</h3>
    <img class="rounded float-start" src="https://avatars.githubusercontent.com/u/69466074?v=4" />
</div>