@page
@model project_1.Pages.GalleryModel
@{
}

<div>
    <h1>Ґалерея</h1>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Lorenzo_di_Credi_-_Madonna_Dreyfus.jpg/150px-Lorenzo_di_Credi_-_Madonna_Dreyfus.jpg" class="img-fluid" alt="Мадонна Дрейфус">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Leonardo_da_Vinci_-_Annunciazione_-_Google_Art_Project.jpg/150px-Leonardo_da_Vinci_-_Annunciazione_-_Google_Art_Project.jpg" class="img-fluid" alt="Благовіщення">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Madonna_z_go%C5%BAdzikiem%2C_Leonardo_da_Vinci.jpg/150px-Madonna_z_go%C5%BAdzikiem%2C_Leonardo_da_Vinci.jpg" class="img-fluid" alt="Мадонна з гвоздикою">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Leonardo_da_Vinci_-_Ginevra_de%27_Benci_-_Google_Art_Project.jpg/150px-Leonardo_da_Vinci_-_Ginevra_de%27_Benci_-_Google_Art_Project.jpg" class="img-fluid" alt="Портрет Джиневри де Бенчі">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Verrocchio_e_leonardo%2C_battesimo_di_cristo_01.jpg/150px-Verrocchio_e_leonardo%2C_battesimo_di_cristo_01.jpg" class="img-fluid" alt="Хрещення Христа">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Leonardo_da_Vinci_026.jpg/150px-Leonardo_da_Vinci_026.jpg" class="img-fluid" alt="Мадонна Бенуа">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Leonardo%2C_san_girolamo.jpg/150px-Leonardo%2C_san_girolamo.jpg" class="img-fluid" alt="Святий Єронім у пустелі">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Leonardo_da_Vinci_-_Adorazione_dei_Magi_-_Google_Art_Project.jpg/150px-Leonardo_da_Vinci_-_Adorazione_dei_Magi_-_Google_Art_Project.jpg" class="img-fluid" alt="Поклоніння волхвів">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Leonardo_Da_Vinci_-_Vergine_delle_Rocce_%28Louvre%29.jpg/150px-Leonardo_Da_Vinci_-_Vergine_delle_Rocce_%28Louvre%29.jpg" class="img-fluid" alt="Мадонна в скелях">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Leonardo_da_Vinci_-_Portrait_of_a_Musician.jpg/150px-Leonardo_da_Vinci_-_Portrait_of_a_Musician.jpg" class="img-fluid" alt="Портрет музиканта">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg/150px-Leonardo_da_Vinci_-_Lady_with_an_Ermine.jpg" class="img-fluid" alt="Пані з горностаєм">
            </div>
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/150px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" class="img-fluid" alt="Мона Ліза">
            </div>
        </div>
    </div>
</div>