@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Леонардо да Вінчі</h1>
    <p>
        Леонардо ді сер П’єро да Вінчі (15 квітня 1452-2 травня 1519) — знаменитий італійський живописець, архітектор,
        філософ, музикант, письменник, дослідник, математик, інженер, анатом, винахідник і геолог. Відомий своїми
        картинами, найбільш відомими з яких є «Таємна вечеря» і «Мона Ліза». Він також відомий своїми численними
        винаходами, набагато опережавшими свій час, але так і залишилися тільки на папері. Крім того, Леонардо да
        Вінчі вніс важливий внесок в розвиток анатомії, астрономії й техніки.
    </p>
</div>
